%section#experience.parallax-section
  .container.bg-dark
    .row
      .col-md-6.col-sm-6
        .background-image.experience-img
      .col-md-6.col-sm-6
        .color-white.experience-thumb
          .wow.fadeInUp.section-title{"data-wow-delay" => "0.8s"}
            %h1 My Experiences
            %p.color-white 前職の職務内容
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.2s"}
            .media-object.media-left
              %i.fas.fa-laptop
            .media-body
              %h3.media-heading
                営業 兼 商品開発
                %small 2012 Dec - 2020 Apr
              %p.color-white 主に輸入製品をOEMとして自社ブランドの取り扱いを小売に勧めると言う営業を行った。その過程で発生する、工場や生産地背景の分析に基づくレポート作成、市場同等品分析、QC、輸入雑務、通関業務を含めた上から下までの一切を執り行う.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.6s"}
            .media-object.media-left
              %i.fas.fa-laptop
            .media-body
              %h3.media-heading
                ぶどう農場のコントラクター（契約請負業）
                %small 2009 Sep - 2011 Nov
              %p.color-white ぶどう農場の業務を受注し、労働登録会社からスタッフを借受、常時10−30人で定めのある期間のぶどう農場の管理、手入れを実行する。