/ Experience Section
%section#experience.parallax-section
  .container
    .row
      .col-md-6.col-sm-6
        .background-image.experience-img
      .col-md-6.col-sm-6
        .color-white.experience-thumb
          .wow.fadeInUp.section-title{"data-wow-delay" => "0.8s"}
            %h1 My Experiences
            %p.color-white Previous companies and my tasks
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.2s"}
            .media-object.media-left
              %i.fa.fa-laptop
            .media-body
              %h3.media-heading
                Sales & Merchandiser
                %small 2012 Dec - 2020 Apr
              %p.color-white Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.6s"}
            .media-object.media-left
              %i.fa.fa-laptop
            .media-body
              %h3.media-heading
                Viticulturist (Independent Contractor)
                %small 2009 Sep - 2011 Nov
              %p.color-white This is a management business contracted by several grape farms. In many of these cases, accepting temporary staff teams from temp agencies. There was a wide variety of tasks depending on the season, and we managed the schedule and provided operational guidance for 10-30 personnel at each stage.