/ Links Section
%section#links.parallax-section
  .overlay
  .container
    .row
      .col-md-offset-1.col-md-10.col-sm-12
        %h2.wow.fadeInUp{"data-wow-delay" => "0.4s"}
          My Portfolios and their links
        %h3.wow.fadeInUp{"data-wow-delay" => "0.6s"} 
          1. PickTweet
        %p.wow.fadeInUp{"data-wow-delay" => "0.8s"} 
          The first Ruby on Rails application created in the curriculum. Learned the image submission function and basic database structure.
        %h3.wow.fadeInUp{"data-wow-delay" => "1s"} 
          2. ChatSpace
        %p.wow.fadeInUp{"data-wow-delay" => "1.2s"} 
          The Second Ruby on Rails application created in the curriculum. Create a chat app and include basic features while gaining a better understanding of AJAX.
        %h3.wow.fadeInUp{"data-wow-delay" => "1.6s"} 
          3. UCS5
        %p.wow.fadeInUp{"data-wow-delay" => "1.8s"} 
          Practically my first application. Create and save memorization cards in a question-and-answer format and share them with the group.
          = link_to "https://github.com/Malson-Lansom/ucs5" do
            %i.fas.fa-thumbtack &emsp;Link to see UCS5 
        %h3.wow.fadeInUp{"data-wow-delay" => "2.0s"} 
          4. FURIMA
        %p.wow.fadeInUp{"data-wow-delay" => "2.2s"}
          The first team-developed e-commerce website application. We were able to pack up the experience of team development.
          = link_to "https://github.com/Malson-Lansom/fleamarket_sample_79d" do
            %i.fas.fa-thumbtack &emsp;Link to see FURIMA     