/ Links Section
%section#links.parallax-section
  .overlay
  .container
    .row
      .col-md-offset-1.col-md-10.col-sm-12
        %h2.wow.fadeInUp{"data-wow-delay" => "0.4s"}
          ポートフォリオとそのリンク
        %h3.wow.fadeInUp{"data-wow-delay" => "0.6s"} 
          1. PickTweet
        %p.wow.fadeInUp{"data-wow-delay" => "0.8s"} 
          テックキャンプのカリキュラムで作成する最初のRailsアプリケーション。画像の投稿機能や、deviseなどのgem、そして基本的なDB設計について学んだ
        %h3.wow.fadeInUp{"data-wow-delay" => "1s"} 
          2. ChatSpace
        %p.wow.fadeInUp{"data-wow-delay" => "1.2s"} 
          テックキャンプのカリキュラムで作成する２つ目のアプリケーション。チャットサイトを作成し、AJAX通信を理解しながら、実際に使われている機能を実装していく。
        %h3.wow.fadeInUp{"data-wow-delay" => "1.6s"} 
          3. UCS5
        %p.wow.fadeInUp{"data-wow-delay" => "1.8s"} 
          本質的に、私の最初のポートフォリオ。これまでに習った内容を踏襲するRailsを使用した基本的なサーバーサイドの設計と、Javascriptを用いてDBから取得した配列データを動かす暗記カードを作成した。
          = link_to "https://github.com/Malson-Lansom/ucs5" do
            %i.fas.fa-thumbtack &emsp;Link to see UCS5 
        %h3.wow.fadeInUp{"data-wow-delay" => "2.0s"} 
          4. FURIMA
        %p.wow.fadeInUp{"data-wow-delay" => "2.2s"}
          一緒に学ぶメンバーと実施した、アジャイル開発でECサイトを作成した。
          = link_to "https://github.com/Malson-Lansom/fleamarket_sample_79d" do
            %i.fas.fa-thumbtack &emsp;Link to see FURIMA     