/ Home Top Section
%section#home.parallax-section
  .container
    .row
      .col-md-6.col-sm-6
        .home-img
      .col-md-6.col-sm-6
        .home-thumb
          .section-title
            %h4.wow.fadeInUp{"data-wow-delay" => "0.3s"} welcome to my website
            %h1.wow.fadeInUp{"data-wow-delay" => "0.6s"}
              %strong プログラマー
              として働き、生きていくためにスキル・知識の吸収に余念がありません。
              %strong 現在、求職中!!
            %p.wow.fadeInUp{"data-wow-delay" => "0.9s"}
              2020年3月より、専門書や指南書を読みながらの自主学習を始めましたが、集中的に且つ、効率的に学ぶためにTECH CAMPに参加。
              これまでにRuby, Railsを中心とした、フロントサイド、サーバーサイドの知識を習得し、現在はJAVAの勉強を始めております。
              プログラマーになろうという決心は、強い意志を持ってはじめており、一人前になるためにとにかく経験を積みたいと考えております。
            %a.wow.fadeInUp.smoothScroll.section-btn.btn.btn-success{"data-wow-delay" => "1.4s", :href => "#about"} About Me