/ Home Top Section
%section#home.parallax-section
  .container
    .row
      .col-md-6.col-sm-6
        .home-img
      .col-md-6.col-sm-6
        .home-thumb
          .section-title
            %h4.wow.fadeInUp{"data-wow-delay" => "0.3s"} welcome to my website
            %h1.wow.fadeInUp{"data-wow-delay" => "0.6s"}
              I am
              %strong KEIICHI SANO
              currently based in TOKYO for leaning programming and now
              %strong looking for IT jobs.
            %p.wow.fadeInUp{"data-wow-delay" => "0.9s"}
              I started studying programming by reading books from March 2020, but I felt like I was stuck my studying.
              so decided to quit job and now attending programming school.
              The impact of CoronaVirus had no effect on my quitting job thing or the perspective of my future.
              Indeed, it has a little impact, but I started running this road with strong will.
              I will give whole my body and do my best everyday!!
            %a.wow.fadeInUp.smoothScroll.section-btn.btn.btn-success{"data-wow-delay" => "1.4s", :href => "#about"} About Me