/ Education Section
%section#education.parallax-section
  .container
    .row
      .col-md-6.col-sm-6
        .color-white.education-thumb
          .wow.fadeInUp.section-title{"data-wow-delay" => "0.8s"}
            %h1 My Education
            %p.color-white my educational background.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.2s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                Certified in Web Application by TECH CAMP
                %br
                %small 2020
              %p.color-white Learned front end and server side knowledge and skills.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.6s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                Certified in TESOL & TECSOL by CROWN INSTITUTE
                %br
                %small 2008
              %p.color-white Learned teaching English method for speaker of other languages.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.8s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                Bachelor of Business Administration
                %br
                %small 2001 Ape - 2005 Mar
              %p.color-white Learned ecnomics, statistics, logistics and business administration at KOBE University of commerce.
      .col-md-6.col-sm-6
        .background-image.education-img