/ Education Section
%section#education.parallax-section
  .container
    .row
      .col-md-6.col-sm-6
        .color-white.education-thumb
          .wow.fadeInUp.section-title{"data-wow-delay" => "0.8s"}
            %h1 My Education
            %p.color-white my educational background.
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.2s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                TECH CAMP エンジニア転職コースを修了
                %br
                %small 2020
              %p.color-white Railsを中心としたサーバーサイド、フロントエンドの技術と知識を習得
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.6s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                CROWN INSTITUTE TESOL と TECSOLを修了
                %br
                %small 2008
              %p.color-white 母語が英語ではない人への英語教授法を学ぶ
          .wow.fadeInUp.color-white.media{"data-wow-delay" => "1.8s"}
            .media-object.media-left
              %i.fas.fa-pencil-alt
            .media-body
              %h3.media-heading
                神戸商科大学 経営学部 卒業
                %br
                %small 2001 Ape - 2005 Mar
              %p.color-white 経済学、流通、統計学、経営学を学ぶ
      .col-md-6.col-sm-6
        .background-image.education-img